<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Spring Boot課題</title>
	    <meta name="description" content="samurai">
	</head>
	<body>
		<h2>ToDoリスト</h2>
		<table border="1">
			<thead>
				<tr>
					<td>ID</td>
					<td>タイトル</td>
					<td>優先度</td>
					<td>ステータス</td>
				</tr>
			</thead>
			<tbody>
				<tr th:each="todo:${todos}">
					<td th:text="${todo.getId()}"></td>
					<td th:text="${todo.getTitle()}"></td>
					<td th:text="${todo.getPriority()}"></td>
					<td th:text="${todo.getStatus()}"></td>
				</tr>
			</tbody>
		</table>	
	</body>
</html>