<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Spring Boot課題</title>
	    <meta name="description" content="samurai">
	</head>
	<body>
	　  <form th:action="@{/confirm}" method="post" th:object="${contactForm}">
			<h1>お問い合わせフォーム</h1>
			<table>
				<tr>
					<td><label for="name">お名前</label></td>
					<td><input type="text" th:field="*{name}"><br>
							<div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" style="color: red;"></div></td>
				</tr>
				<tr>
					<td><label for="email">メールアドレス</label></td>
					<td><input type="text" th:field="*{email}"><br>
							<div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" style="color: red;"></div></td>
				</tr>
				<tr>
					<td><label for="message">お問い合わせ内容</label>
					<td><textarea th:field="*{message}" cols="30" rows="10"></textarea><br>
							<div th:if="${#fields.hasErrors('message')}" th:errors="*{message}" style="color: red;"></div></td>
				</tr>
			</table>
			<button type="submit">送信</button>
	　  </form>
	</body>
</html>